HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**
user-files/**
unzipped-files/**
git-user-files/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### Frontend ###
# compiled output
src/main/resources/frontend/dist
src/main/resources/frontend/tmp
src/main/resources/frontend/out-tsc
# Only exists if Bazel was run
src/main/resources/frontend/bazel-out

# dependencies
src/main/resources/frontend/node_modules

# profiling files
src/main/resources/frontend/chrome-profiler-events*.json
