<header class="app-header">
  <a href="/" class="app-header__logo">Rapid Deploy</a>
  <a class="app-sidebar__toggle" href="#" data-toggle="sidebar" aria-label="Hide Sidebar"><span
    class="fa fa-bars"></span></a>
  <ul class="app-nav">
    <li class="dropdown">
      <a class="app-nav__item" href="#" data-toggle="dropdown" aria-label="Open Menu">
        <i class="fa fa-user fa-lg"></i>
      </a>
      <ul class="dropdown-menu settings-menu dropdown-menu-right">
        <li><a class="dropdown-item" href=""><i class="fa fa-cog"></i> Settings</a></li>
        <li><a class="dropdown-item" href=""><i class="fa fa-user"></i> Profile</a></li>
        <li><a class="dropdown-item" href=""><i class="fa fa-sign-out-alt"></i> Logout</a></li>
      </ul>
    </li>
  </ul>
</header>
